@font-face {
	font-family: 'icomoon';
	src: url(../res/mocfonts/icomoon.eot?3243e5c33acce35fad510f00b1737d10);
	src: url(../res/mocfonts/icomoon.eot?#iefix) format("embedded-opentype"), url(../res/mocfonts/icomoon.ttf?f3676b0515e33300fcdd1a301e4b493e) format("truetype"), url(../res/mocfonts/icomoon.woff?67a010a60e5a083aedd92f07794f5a48) format("woff"), url(../res/mocfonts/icomoon.svg?3bfa5abc116df1da3b5d07e73b5af206) format("svg");
	font-weight: normal;
	font-style: normal;
}.