@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}
/*
 * 清除浏览器样式
 */
ul, li {
	list-style: none;
}

/*
 * 滚动条样式, webkit内核
 */
::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, .3);
} /* 滑动条滑轨背景颜色 */

/*
 * 燕山争霸字体
 */
@font-face {
	font-family: 'yszb';
	src: url('../../font/FZYHJW_0.TTF')  format('truetype');
}

/*
 * background img
 */
.bg {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
}

/*
 * title font
 */
.title {
	img {
		width: 1.3648rem;
		height: auto;
	}
}

/*
 * 按钮
 */
.btn {
	display: block;
	font-size: .2389rem;
	width: 1.3rem;
	line-height: .51rem;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	height: .51rem;
	background: url("../../img/btn_bg.png") center center no-repeat;
	background-size: contain;
	font-family: 'yszb';
	color: #fff;
}

/*
 * 对话框的三角形
 */
.sanjiao {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-top:solid .22rem #8d1000;
	border-left-width: .1rem;
	border-right-width: .1rem;
	&::before {
		content: '';
		position: absolute;
		bottom: .02rem;
		left: -.052rem;
		border-color: transparent;
		border-style: solid;
		border-top:solid .16rem #fff1bc;
		border-left-width: .06rem;
		border-right-width: .06rem;
	}
}

/*
 * 表单控件
 */
.form-control {
	width: 100%;
	font-size: 0;
	line-height: 1;
}
input {
	outline: none;
	border: none;
}

/*
 * 勾和叉
 * 错题查看使用
 */
i {
	&.gou {
		display: inline-block;
		width: .29rem;
		height: .24rem;
		background: url('../../img/gou.png') no-repeat;
		background-size: cover;
		line-height: 1;
		font-size: 0;
	}
	&.cha {
		display: inline-block;
		width: .29rem;
		height: .29rem;
		background: url('../../img/cha.png') no-repeat;
		background-size: cover;
		line-height: 1;
		font-size: 0;
	}
}

/*
 * 触发BFC
 */
.BFC {
	overflow: hidden;
}
