.bg {
	background: url('../../img/load_bg.jpg') no-repeat;
	background-size: cover;
}
.logo {
	display: block;
	margin: 0 auto;
	width: 4.62rem;
	height: auto;
	margin-top: 1.2rem;
}
.progress {
	position: absolute;
	bottom: 1.32rem;
	width: 100%;
	height: 1.22rem;
	left: 0;
	background: url("../../img/progress.png") center center no-repeat;
	background-size: cover;
	font-size: .2389rem;
	color: #fff;
	p {
		position: absolute;
		top: .22rem;
		width: 100%;
		left: 0;
		text-align: center;
	}
	.outer {
		position: absolute;
		height: .355rem;
		width: 100%;
		left: 0;
		bottom: .265rem;
		box-sizing: border-box;
		padding: .05rem .53rem .1rem;
	}
	.finish {
		border-radius: 8px/5px;
		width: 70%;
		height: 100%;
		background: linear-gradient(to right, #008aa3, #00f6e8);
		position: relative;
		&::after {
			content: '';
			display: block;
			position: absolute;
			width: 8%;
			height: 100%;
			border-top-right-radius: 8px 5px;
			border-bottom-right-radius: 8px 5px;
			right: 0;
			top: 0;
			background: linear-gradient(to right, #62dfa4, #ffdb00, #ff8a00);
		}
	}
}