.bg {
	background: url("../../img/cthg_bg.jpg") no-repeat;
	background-size: cover;
}

.ques {
	width: 5.86rem;
	height: 8rem;
	margin: 0 auto;
	margin-top: .7rem;
	margin-bottom: .6rem;
	background: url("../../img/questions.png") no-repeat;
	background-size: cover;
	overflow: hidden;
}
div.ques-list {
	font-size: .3071rem;
	margin-left: .65rem;
	margin-right: .6rem;
	color: #3e0000;
	margin-top: 2.76rem;
	overflow: hidden;
	ul {
		// width: js控制
		transform: translateX(0);
		transition: all cubic-bezier(.27,1.04,.75,.99) 1s .1s;
		&:after {
			content: '';
			display: block;
			clear: both;
		}
	}
	li {
		width: 4.61rem;
		float: left;
	}
	p {
		font-weight: bold;
	}
	label {
		font-size: .2554rem;
		margin-left: .2554rem;
		line-height: .5rem;
	}
	.sel {
		margin-left: .79rem;
		margin-top: 1.42rem;
		overflow: hidden;
	}
}
.watch {
	font-size: .2133rem;
	color: #1d2835;
	left: 2.03rem;
	top: .5rem;
}
.pagination {
	font-size: .3412rem;
	color: #000;
	position: absolute;
	left: .9rem;
	top: 2.5rem;
	width: 1.35rem;
	text-align: center;
}