@import "ysjx.scss";

.tianxie {
	width: 5.32rem;
	height: 4.98rem;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	background: url("../../img/txch.png") no-repeat;
	background-size: cover;
	text-align: center;
	top: .72rem;
	font-size: 0;
	z-index: 1;
	.title {
		font-size: 0;
		text-align: center;
		margin-top: .2rem;
	}	
	.sx-logo {
		width: 1.99rem;
		height: 2.03rem;
		margin-top: .22rem;
		margin-bottom: .25rem;
	}
	input {
		display: block;
		width: 3.22rem;
		height: .53rem;
		background: url("../../img/input.png") no-repeat;
		background-size: contain;
		text-align: center;
		margin: 0 auto;
		margin-bottom: .33rem;
	}
}