@import 'tz_base.scss';

.bg {
	background: url("../../img/tz_bg.jpg") no-repeat;
	background-size: cover;
}
img {
	border: none;
	outline: none;
}
.logo {
	width: 3.69rem;
	height: auto;
	display: block;
	margin: .68rem auto 0;
}

.finish {
	margin-bottom: .36rem;
}
.money img {
	width: .35rem;
	height: .42rem;
}
.jy img {
	width: .41rem;
	height: .47rem;
}
.get {
	font-size: .2559rem;
	color: #edc527;
	margin-top: .28rem;
	margin-bottom: 1.5rem;
}