@charset "utf-8";
@import 'ysjx.scss';


.main .question {
	font-family: '微软雅黑';
	padding: .1rem .05rem .05rem .1rem;
	line-height: 1.2;
	color: rgba(85, 20, 0, .8);
	right: .8rem;
	left: auto;
	i {
		right: 15px;
		left: auto; 
	}
}

