@charset "utf-8";
@import 'ysjx.scss';

.question {
	bottom: 5.05rem;
	padding: .1rem .05rem .05rem .1rem;
	line-height: 1.2;
	right: .8rem;
	left: auto;
	i {
		right: 15px;
		left: auto; 
	}
}

