.bg {
	background: url(../../img/ysjx_bg.jpg) no-repeat;
	background-size: 100% 100%;
}
.question {
	padding: .14rem .2rem;
	position: absolute;
	border: .04rem solid #fff;
	font-size: .25rem;
	color: #1d2835;
	line-height: 1.4;
	border-radius: 5px/3px;
	background-color: #c6d2e0;
	left: 1.7rem;
	bottom: 4.75rem;
	i {
		bottom: -0.28rem;
		left: 15px;
	}
}
.btn {
	position: absolute;
	bottom: .43rem;
	left: 50%;
	transform: translateX(-50%);
}